.AxiosContentRow{
    display: inline-flex;
    /*flex-direction: row; */
    /* border: 1px red solid; */
    margin: 10px 0;
    padding: 5px; 
    /* display: flex !important; */
    border: 1px solid gray;
    border-radius: 0.39em;
    /* flex-direction: row; */

}

.AxiosContentRow > img{

    width: 100px;
    height: 100px;
}

.AxiosContentRow span{
    font-size: 12pt;
    align-self: center;
    /* display: inline-flex;
    font-size: 12pt;*/
    padding-left: 5%;
    /* vertical-align: middle; */
}
