.header {
    background-color: #ffffff;
    padding: 10px 10px;
    color: rgb(0, 98, 204);
    border-radius: .25rem;
    box-shadow: 2px gray;
  }
  
  .header .options{
    position: absolute;
    right: 22%;
    cursor: pointer;
  }
  
  .header-home{
    padding-bottom: 30px;
  }
