.addIcon{
    font-size: 35pt;
    opacity: 0.5;
    position:fixed;
    bottom: 0;
    right: 28%;
    /* margin-right: 20%; */
}

.addIcon:hover{
    opacity: 1;
    color: #0062CC;
}

@media only screen and (min-width: 350px) and (max-width: 1200px){
    .addIcon{
        right: 20%;
    }
    
  }



