body {
background-color: lightblue;
}
.flex-column-sm{
    display: none;
}
.flex-column-lg{
    display: block;
    width: 100%;
}
@media only screen and (min-width: 350px) and (max-width: 650px){
    .flex-column-sm{
        display: block;
        top: 0;
        padding-bottom: 10px;
        /* justify-content: space-between; */
        
    }
    .flex-column-lg{
        display: none;
    }

  }


