.App {
  margin: 0 15%;
}

@media (prefers-reduced-motion: no-preference) {
  .App {
    width: auto;
    
  }
}

.App-header {
  background-color: #ffffff;
  padding: 10px 10px;
  color: rgb(0, 98, 204);
  border-radius: .25rem;
  box-shadow: 2px gray;
}

.App-header .options{
  position: absolute;
  right: 22%;
  cursor: pointer;
}
